.wrapper {
  margin-top: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.questions {
  flex: 1 1 0;
  min-width: 450px;
  max-width: 804px;
  background-color: #fff;
  padding: 24px 20px 40px;
  border-radius: 24px;
}

.title {
  color: #191919;
  padding-bottom: 17px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  border-bottom: 1px solid #e8e8e8;
}

.list > li {
  display: grid;
  gap: 20px;
  grid-template-columns: minmax(0, 1fr);
}

@media (max-width: 800px) {
  .wrapper {
    display: block;
  }

  .questions {
    min-width: auto;
  }
  .container > section {
    padding: 20px 10px;
  }
}

@media (max-width: 375px) {
  .questions {
    padding: 20px 10px;
  }
}
