.title {
  margin-bottom: 8px;
  font-weight: 400;
  line-height: 1.2;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
}

.btn {
  cursor: pointer;
  color: #5509cc;
  text-decoration: underline;
}
