.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.list {
  display: flex;
  gap: 10px;
}

.page {
  border: none;
}

.pageItem {
  width: 21px !important;
  height: 25px !important;
  padding: 4px 12px !important;
  border-radius: 0 !important;
  border: none !important;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageSelected {
  background-color: #6a0bff;
  color: #fff !important;
}

.arrowItem {
  position: relative;
}

.arrowLeft,
.arrowRight {
  border: 1px solid #6a0bff;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.arrowLeft:after,
.arrowRight:after {
  content: "";
  position: absolute;
  border-top: 2px solid #6a0bff;
  width: 14px;
  top: 13px;
  right: 8px;
}

.arrowRight:before,
.arrowLeft:before {
  content: "";
  position: absolute;
  border-top: 2px solid #6a0bff;
  border-right: 2px solid #6a0bff;
  width: 10px;
  height: 10px;
}

.arrowRight:before {
  top: 9px;
  right: 10px;
  transform: rotate(45deg);
}

.arrowLeft:before {
  top: 9px;
  right: 10px;
  transform: rotate(-135deg);
}

@media (max-width: 375px) {
  .list {
    flex-direction: column;
    align-items: center;
  }
}
