.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 112px;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.container {
  display: flex;
  align-items: center;
  gap: 52px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mainNav,
.authNav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.authNav {
  gap: 26px;
}

.registration {
  padding: 12px 30px;
  background-color: #6a0bff;
  color: #fff;
  border-radius: 12px;
}

.btnToggle,
.menu,
.closeBtn {
  display: none;
}
.btnToggle {
  position: relative;
}

.btnToggle:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #303030;
  border-right: 1px solid #303030;
  transform: rotate(45deg);
  top: -4px;
  right: -24px;
  width: 15px;
  height: 15px;
}

.btnToggle.rotate:after {
  transform: rotate(225deg);
  top: 4px;
}

@media (max-width: 920px) {
  .header {
    padding: 15px 30px;
  }

  .authNav,
  .mainNav {
    display: none;
  }
  .btnToggle,
  .menu,
  .closeBtn {
    display: block;
    cursor: pointer;
  }

  .branding {
    display: flex;
    align-items: center;
    gap: 34px;
  }

  .authNav.showAuthNav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #fff;
    z-index: 3;
  }
  .mainNav.showMainNav {
    position: absolute;
    display: flex;
    top: 65px;
    left: 180px;
    flex-direction: column;
    padding: 24px;
    border-radius: 24px;
    align-items: start;
    background-color: #fff;
    z-index: 2;
  }

  .closeBtn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 420px) {
  .header {
    padding: 10px;
  }

  .branding {
    gap: 20px;
  }

  .logo > :last-child {
    display: none;
  }

  .mainNav.showMainNav {
    top: 54px;
    left: 54px;
  }
}
