.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.aside {
  flex: 1 1 0;
  background-color: #fff;
  padding: 24px;
  align-self: flex-start;
  max-width: 392px;
  width: 100%;
  border-radius: 24px;
}

.filterIconBtn {
  display: none;
}

.filterIcon {
  display: none;
  position: absolute;

  width: 36px;
  height: 36px;
  cursor: pointer;
}

.closeBtn {
  position: absolute;
  cursor: pointer;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
}

@media (max-width: 800px) {
  .aside {
    display: none;
  }
  .aside.asideOpen {
    display: block;
    position: absolute;
    padding-top: 44px;
    right: 0;
    top: 0;
  }

  .filterIconBtn {
    display: block;
  }
  .filterIcon {
    display: block;
    position: absolute;
    top: 16px;
    right: 26px;
  }
}
